.Footer {
  height: 50px;
  position: fixed;
  bottom: 0px;
  padding-left: 10px;
  background-color: #7b8283;
  border-top: 3px white solid;
  width: 100%;
}

.copyright {
  position: absolute;
  bottom: 18px;
  font-size: 14px;
  line-height: 14px;
}

.links {
  display: inline-block;
  float: right;
  padding-right: 20px;
  margin-top: 9px;
}
